@font-face {
    font-family: 'skyfall_doneregular';
    src: url('skyfall_done-webfont.woff2') format('woff2'),
         url('skyfall_done-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}